<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>Database</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_db</servlet-name>
        <servlet-class>create_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_db</servlet-name>
        <servlet-class>show_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_tb</servlet-name>
        <servlet-class>show_tb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_data</servlet-name>
        <servlet-class>show_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_tb</servlet-name>
        <servlet-class>create_tb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_strct</servlet-name>
        <servlet-class>show_strct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>db_crd</servlet-name>
        <servlet-class>db_crd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_tables</servlet-name>
        <servlet-class>show_tables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tb_show</servlet-name>
        <servlet-class>tb_show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_dt</servlet-name>
        <servlet-class>show_dt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cr_tb</servlet-name>
        <servlet-class>cr_tb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert_data</servlet-name>
        <servlet-class>insert_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_db</servlet-name>
        <url-pattern>/create_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_db</servlet-name>
        <url-pattern>/show_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_tb</servlet-name>
        <url-pattern>/show_tb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_data</servlet-name>
        <url-pattern>/show_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_tb</servlet-name>
        <url-pattern>/create_tb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_strct</servlet-name>
        <url-pattern>/show_strct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>db_crd</servlet-name>
        <url-pattern>/db_crd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_tables</servlet-name>
        <url-pattern>/show_tables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tb_show</servlet-name>
        <url-pattern>/tb_show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_dt</servlet-name>
        <url-pattern>/show_dt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cr_tb</servlet-name>
        <url-pattern>/cr_tb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert_data</servlet-name>
        <url-pattern>/insert_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>start</welcome-file>
    </welcome-file-list>
</web-app>
